html, body,
.body{
  background: #f5f6f7;
  background-color: #f5f6f7;
  font: Arial,Helvetica,sans-serif;
}
.header{
  background: #ffffff;
  background-color: #ffffff;
  border-left: 1px solid #d1d2d3;
  border-bottom: 1px solid #d1d2d3;
  border-right: 1px solid #d1d2d3;
  height: 77px;
  .left{
    padding: 6px;
    .logo{
      padding: 6px;
    }
  }
  .middle{
    display: block;
    
    .info-primary{
      color: #990000;
      font-size: 12px;
      font-weight: bold;
      line-height: .8;
    }
    .info-secondary{
      color: #005083;
      font-size: 12px;
      font-weight: bold;
      line-height: .8;
    }
    .phone_blue{
      width: 14px;
      display: inline-block;
      line-height: .8;
    }
    .chat_blue{
      width: 14px;
      display: inline-block;
      line-height: .8;
    }
  }
  .right{
    .info-primary{
      font-size: 13px;
      color: #056ba8;
      text-decoration: underline;
      font-weight: bold;
    }
    .print{
      display: inline-block;
      padding-right: 10px;
    }
    .info-secondary{
      font-size: 13px;
      color: #056ba8;
      font-weight: bold;
    }
  }
}
.space{
  background: #f5f6f7;
  background-color: #f5f6f7;
}