html, body,
.body{
  background: #f5f6f7;
  background-color: #f5f6f7;
  font: Arial,Helvetica,sans-serif;
}
.header{
  background: #ffffff;
  background-color: #ffffff;
  border-left: 1px solid #d1d2d3;
  border-bottom: 1px solid #d1d2d3;
  border-right: 1px solid #d1d2d3;
  height: 77px;
  .left{
    padding: 6px;
    .logo{
      padding: 6px;
    }
  }
  .middle{
    display: block;
    padding-bottom: 0;
    margin-bottom: 0;
    .info{
      padding-bottom: 0 !important;
      padding-top: 10px !important;
      padding-left: 5px !important;
      padding-right: 5px !important;
      margin-bottom: 0;
      .info-primary{
        color: #990000;
        font-size: 12px;
        font-weight: bold;
      }
      .info-secondary{
        color: #005083;
        font-size: 12px;
        font-weight: bold;
      }
      .phone_blue{
        width: 14px;
        display: inline-block;
        line-height: .8;
      }
      .chat_blue{
        width: 14px;
        display: inline-block;
        line-height: .8;
      }
    }
  }
  .right{
    .info-primary{
      font-size: 13px;
      color: #056ba8;
      text-decoration: underline;
      font-weight: bold;
    }
    .print{
      display: inline-block;
      padding-right: 10px;
    }
    .info-secondary{
      font-size: 13px;
      color: #056ba8;
      font-weight: bold;
    }
  }
}
.space{
  background: #f5f6f7;
  background-color: #f5f6f7;
}
.sub_header{
  background: #f5f6f7;
  background-color: #f5f6f7;
  .title{
    font-size: 30px;
    color: #076ba7;
    font-weight: bold;
    padding: 20px 0 5px;
  }
  .terms{
    font-size: 12px;
    color: #056ba8;
    text-decoration: underline;
  }
}
.number_email_date{
  background: #f5f6f7;
  background-color: #f5f6f7;
  .info-primary{
    font-size: 12px;
    color: #666666;
    .info-secondary{
      color: #0000ee;
    }
  }
}
.flight_details{
  background: #f5f6f7;
  background-color: #f5f6f7;
  .details{
    color: #076ba7;
    font-size: 24px;
   
    .flight{
      display: inline-block;
      padding-top: 20px !important;
      padding-bottom: 10px !important;
    }
    .text{
      padding-top: 0;
    }
  }
  .status{
    font-size: 14px;
    padding-top: 30px;
    .status_yes{
      display: inline-block;
    }
    .text_primary{
      color: #666666;
    }
    .text_secondary{
      color: #056ba8;
      text-decoration: underline;
    }
  }
}
.departing{
  background: #dee9f2;
  background-color: #dee9f2;
  .first_column{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    border: 1px solid #d4d4d4;
    .departing_flight{
      color: #056ba8;
      font-size: 20px;
      font-weight: bold;
      line-height: 34px;
    }
    .button_column{
      background: #118acb;
      background-color: #118acb;
      .button{
        color: #ffffff;
        font-size: 14px;
        border-radius: 0px;
        text-align: center;
        text-decoration: none;
        font-weight: bold;
        height: 34px;
        .make_changes{
          display: inline-block;
          width: 31px;
        }
      }
    }
  }
}
.time_and_location{
  .first_column{
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    padding-right: 10px !important;
    padding-left: 10px !important;
    margin-bottom: 20px !important;
    border: 1px solid #d4d4d4;
    .plane_times, .plane_times_two{
      .left_column{
        .airline{
          .left{
            width: 45%;
          .spirit_icon{
              border: 1px solid #acacac;
              border-radius: 5px;
              width: 60px;
              height: 35px;
            }
          }
          .right{
            padding-bottom: 20px !important;
            .text_primary{
              font-size: 12px;
              color: #333333;
            }
            .text_secondary{
              font-size: 12px;
              color: #666666;
            }
          }
        }
        .type{
          .text_primary{
            font-size: 12px;
            color: #a1a1a1;
          }
        }
        .info{
          .text_secondary{
            font-size: 12px;
            color: #428bca;
            text-decoration: none;
            .text_tertiary{
              color: #666666;
            }
          }
        }
      }
      .middle_column{
        padding-bottom: 10px !important;
        .first_row{
          .depature_date_column{
            padding-bottom: 5px !important;
            .depature_date{
              font-size: 16px;
              font-weight: bold;
              color: #666666;
            }
          }
        }
        .second_row{
          .depature_place_column{
            padding-bottom: 5px !important;
            .depature_place{
              font-size: 12px;
              color: #666666;
            }
          }
        }
        .third_row{
          .depature_time_column{
            .depature_time{
              font-size: 20px;
              font-weight: bold;
              color: #666666;
            }
          }
        }
        .fourth_row{
          .arrival_place_column{
            padding-bottom: 5px !important;
            .arrival_place{
              font-size: 12px;
              color: #666666;
            }  
          }
        }
        .fifth_row{
          .arrival_time_column{
            padding-bottom: 5px !important;
            .arrival_time{
              font-size: 20px;
              font-weight: bold;
              color: #666666;
            }  
          }
        }
        .sixth_row{
          .arrival_date_column{
            .arrival_date{
              font-size: 16px;
              font-weight: bold;
              color: #666666;
            }
          }
        }
      }
      .right_column{
        .first{
          .airline_confirmation{
            background: #f6f6f6;
            background-color: #f6f6f6;
            padding-top: 10px !important;
            padding-bottom: 10px !important;
            padding-left: 10px !important;
            .confirmation{
              font-size: 12px;
              color: #666666;
            }
            .number{
              font-size: 12px;
              color: #666666;
              font-weight: bold;
            }
          }
        }
        .middle{
          .check_in{
            display: block;
            font-size: 12px;
            color: #428bca;
            text-decoration: underline;
            margin: 0 auto;
            text-align: center;
          }
        }
        .last{
          .chat{
            display: block;
            font-size: 14px;
            color: #428bca;
            text-decoration: underline;
            font-weight: bold; 
            margin: 0 auto;
            text-align: center; 
          }
          .support{
            display: block;
            font-size: 12px;
            color: #000000;
            margin: 0 auto;
            text-align: center;
          }
        }
      }
    }
  }
}
.fare_rules{
  background: #fff1d8;
  background-color:#fff1d8;
  border: 1px solid #d4d4d4; border-bottom:1px solid #9f9f9f;
  .first_column{
    padding-top: 15px !important;
    padding-bottom: 20px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    border: 1px solid #d4d4d4; border-bottom:1px solid #9f9f9f;
    .text_primary{
      font-size: 12px;
      color: #a1a1a1;
      .text_secondary{
        color: #428bca;
      }
    }
  }
}
.traveler_info{
  .first_column{
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    padding-right: 10px !important;
    padding-left: 10px !important;
    margin-bottom: 20px !important;
    border: 1px solid #d4d4d4; border-bottom:1px solid #9f9f9f;
    .left{
      padding-top: 15px !important;
      padding-bottom: 15px !important;
      padding-right: 3px !important;
      padding-left: 3px !important;
      .traveler{
        color: #056ba8;
        font-size: 20px;
        font-weight: bold;
      }
    }
    .right{
      padding-top: 15px !important;
      padding-bottom: 15px !important;
      padding-right: 3px !important;
      padding-left: 3px !important;
      .verify{
        color: #f04e25;
        font-size: 12px;
      }
    }
    .heading_column{
      padding-top: 15px !important;
      padding-bottom: 5px !important;
      .heading{
        font-size: 12px;
        color: #666666;
      }
    }
    .info_column{
      padding-top: 5px !important;
      padding-bottom: 15px !important;
      .info{
        font-size: 16px;
        color: #666666;
        font-weight: bold;
      }
    }
  }
}
.disclaimer{
  background: #fff1d8;
  background-color:#fff1d8;
  border: 1px solid #d4d4d4; border-bottom:1px solid #9f9f9f;
  .first_column{
    padding: 15px;
    padding-bottom: 15px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    .text_primary{
        font-size: 12px;
        color: #a1a1a1;
    }
  }
}
.boarding_pass{
  .first_column{
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    border: 1px solid #d4d4d4; border-bottom:1px solid #9f9f9f;

    .left{
      .title_column{
        padding-bottom: 15px !important;
        .title{
          color: #056ba8;
          font-size: 20px;
          font-weight: bold;
        }
      }
      .icon_row{
        width: 166px !important;
        margin-bottom: 15px !important;
        .icon_column{
          
          .boarding_pass_icon{
            margin: auto;
          }
        }
      }
    }

    .right{
      .title_row{
        background-color: #e7f3fa;
        background: #e7f3fa;
        width: 100%;
        margin-bottom: 15px;
        .columns{
          height: 40px;
          padding-left: 6px !important;
          
          .price_title{
            font-size: 16px;
            color: #666666;
            display: inline-block;
          }
        }
        .columns{
          height: 40px;
         
          .price{
            font-size: 16px;
            color: #666666;
            display: inline-block;
            
            .price_secondary{
              font-size: 11px;
            }
          }
        }
      }

      .sub_title_column{
        padding-bottom: 12px !important;
        .sub_title{
          color: #666666;
          font-size: 20px;
        }
      }
      .list_item_column{
        padding-bottom: 8px !important;
        .list_item{
          font-size: 14px;
          color: #666666;
          .blue_check{
            display: inline-block;
            padding-right: 5px;
          }
        }
      }
      .button_row{
        width: 347px;
        background-color: #ff6000;
        border-bottom: 1px solid #b1320a;
        margin-top: 15px !important;
        .button_column{
          height: 36px;
         
          .button{
            display: block;
            font-size: 16px;
            color: #ffffff;
            text-align: center;
            text-decoration: none;
            font-weight: bold;
          }
        }
      }
    }

    .bottom{
      padding-top: 20px !important;
      .service{
        font-size: 12px;
        color: #666666;
      }
    }
  }
}
.travel_insurance{
  .first_column{
    padding: 15px;
    padding-bottom: 15px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    border: 1px solid #d4d4d4; border-bottom:1px solid #9f9f9f;
    
    .left{
      .title_column{
        padding-bottom: 25px;
        .title{
          color: #056ba8;
          font-size: 20px;
          font-weight: bold;
        }
      }
      .icon_row{
        width: 166px !important;
        margin-bottom: 15px !important;
        .icon_column{
          background: #005082;
          background-color: #005082;
      
          .travel_insurance_icon{
            margin: auto;
          }
        }
      }
      .learn_more_row{
        width: 166px !important;
        background: #f5f6f7;
        background-color: #f5f6f7;
        border: 1px solid #cdcdcd;
        border-bottom: 1px solid #b7b7b7;
        
        .learn_more_column{
          height: 48px;
          
          .learn_more{
            color: #428bca;
            display: block;
            font-size: 14px;
            width: 166px;
           
            text-align: center;
            font-weight: bold;
            border-radius: 0px;
  
            line-height: 28px;
  
          }
        }
      }
    }
    .right{
      .title_row{
        background-color: #e7f3fa;
        background: #e7f3fa;
        width: 100%;
        margin-bottom: 15px;
        
        .columns{
          height: 40px;
          padding-left: 6px !important;
          
          .price_title{
            font-size: 16px;
            color: #666666;
            display: inline-block;
          }
        }
        .columns{
          height: 40px;
          .price{
            font-size: 16px;
            color: #666666;
            display: inline-block;
          }
        }
      }
      .receive_trip_column{
        padding-bottom: 15px;
        .receive_trip{
          font-size: 14px;
          color: #666666;
        }
      }
      .emergency_assistance_column{
        padding-bottom: 15px;
        .emergency_assistance{
          font-size: 14px;
          color: #666666;
        }
      }
      .button_row{
        width: 347px;
        background-color: #ff6000;
        border-bottom: 1px solid #b1320a;
        
        .button_column{
          height: 36px;
          
          .button{
            display: block;
            font-size: 16px;
            color: #ffffff;
            text-align: center;
            text-decoration: none;
            font-weight: bold;
          }
        }
      }
      .view_conditions_column{
        padding-top: 15px;
        .view_conditions{
          text-decoration: none;
          color: #428bca;
          font-size: 12px;
        }
      }
    }
  }
}
.travel_assist{
  .first_column{
    padding: 15px;
    padding-bottom: 15px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    border: 1px solid #d4d4d4; border-bottom:1px solid #9f9f9f;

    .left{
      .title_column{
        padding-bottom: 25px;
        .title{
          color: #056ba8;
          font-size: 20px;
          font-weight: bold;
        }
      }
      .icon_row{
        width: 166px !important;
        margin-bottom: 15px !important;
        .icon_column{
          background: #005082;
          background-color: #005082;
          
          .travel_assist_icon{
            margin: auto;
          }
        }
      }
      .learn_more_row{
        width: 166px !important;
        background: #f5f6f7;
        background-color: #f5f6f7;
        border: 1px solid #cdcdcd;
        border-bottom: 1px solid #b7b7b7;
        
        .learn_more_column{
          height: 48px;
          
          .learn_more{
            color: #428bca;
            display: block;
            font-size: 14px;
            width: 166px;
           
            text-align: center;
            font-weight: bold;
            border-radius: 0px;
  
            line-height: 28px;
  
          }
        }
      }
    }

    .right{
      .title_row{
        background-color: #e7f3fa;
        background: #e7f3fa;
        width: 100%;
        margin-bottom: 15px;
        
        .columns{
          height: 40px;
          padding-left: 6px !important;
          
          .price_title{
            font-size: 16px;
            color: #666666;
            display: inline-block;
          }
        }
        .columns{
          height: 40px;
          .price{
            font-size: 16px;
            color: #666666;
            display: inline-block;
          }
        }
      }

      .call_us_column{
        padding-bottom: 15px;
        .call_us{
          font-size: 14px;
          color: #666666;
          font-weight: bold;
        }
      }
      .list_item_column{
        padding-bottom: 5px;
        padding-left: 25px !important;
        .blue_check{
          display: inline-block;
          padding-right: 5px;
        }
        .list_item{
          font-size: 14px;
          color: #666666;
          
        }
      }
      .button_row{
        width: 347px;
        background-color: #ff6000;
        border-bottom: 1px solid #b1320a;
        margin-top: 15px !important;
        .button_column{
          height: 36px;
         
          .button{
            display: block;
            font-size: 16px;
            color: #ffffff;
            text-align: center;
            text-decoration: none;
            font-weight: bold;
          }
        }
      }
      .not_medical_column{
        padding-top: 10px;
        .not_medical{
          font-size: 12px;
          color: #666666;
        }
      }
    }
  }
}
.flight_watcher{
  .first_column{
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    padding-right: 10px !important;
    padding-left: 10px !important;
    border: 1px solid #d4d4d4; border-bottom:1px solid #9f9f9f;

    .left{
      .title_column{
        padding-bottom: 25px;
        .title{
          color: #056ba8;
          font-size: 20px;
          font-weight: bold;
        }
      }
      .icon_row{
        width: 166px !important;
        margin-bottom: 15px !important;
        .icon_column{
          background: #005082;
          background-color: #005082;
          
          .flight_watcher_icon{
            margin: auto;
          }
        }
      }
      .learn_more_row{
        width: 166px !important;
        background: #f5f6f7;
        background-color: #f5f6f7;
        border: 1px solid #cdcdcd;
        border-bottom: 1px solid #b7b7b7;
        
        .learn_more_column{
          height: 48px;
          
          .learn_more{
            color: #428bca;
            display: block;
            font-size: 14px;
            width: 166px;
           
            text-align: center;
            font-weight: bold;
            border-radius: 0px;

            line-height: 28px;

          }
        }
      }
    }
    .right{
      .title_row{
        background-color: #e7f3fa;
        background: #e7f3fa;
        width: 100%;
        margin-bottom: 15px;
        
        .columns{
          height: 40px;
          padding-left: 6px !important;
          
          .price_title{
            font-size: 16px;
            color: #666666;
            display: inline-block;
          }
        }
        .columns{
          height: 40px;
          .price{
            font-size: 16px;
            color: #666666;
            display: inline-block;
          }
        }
      }
      
      .text_column{
        padding-bottom: 15px;
        .text_primary{
          font-size: 14px;
          color: #666666;
          .text_secondary{
            font-weight: bold;
          }
        }
      }
      .button_row{
        width: 347px;
        background-color: #ff6000;
        border-bottom: 1px solid #b1320a;
        
        .button_column{
          height: 36px;
          
          .button{
            display: block;
            font-size: 16px;
            color: #ffffff;
            text-align: center;
            text-decoration: none;
            font-weight: bold;
          }
        }
      }
    }
  }
}
.add_a_hotel{
  .first_column{
    background: #f5f6f7;
    background-color: #f5f6f7;
    padding-top: 15px;
    padding-bottom: 10px;
    width: 90%;
    .text_primary{
      color: #076ba7;
      font-size: 24px;
      .hotel{
        display: inline-block;
        padding-right: 8px;
      }
    }
  }
}
.hotels{
  .first_column{
    border: 1px solid #d4d4d4; border-bottom:1px solid #9f9f9f;
    .first_row{
      .first_row_column{
        border: 1px solid #d4d4d4; border-bottom:1px solid #9f9f9f;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        padding-left: 12px !important;
        padding-right: 12px !important;
        &.left{
          .place{
            color: #056ba8;
            font-size: 16px;
          }
        }
        &.middle, &.right{
          background: #f3f4f7;
          background-color: #f3f4f7;
          .date{
            font-size: 12px;
            color: #a1a1a1;
            .date_secondary{
              color: #676767;
            }
          }
        }
      }
    }
    .second_row{
      .second_row_column{
        padding-top: 12px !important;
        padding-bottom: 5px !important;
        padding-left: 12px !important;
        padding-right: 12px !important;
      }
    }
    .third_row{
      .third_row_column{
        padding-top: 12px !important;
        padding-bottom: 5px !important;
        padding-left: 12px !important;
        padding-right: 12px !important;
        .left_column{
          padding-right: 5px !important;
          .hotel_name{
            font-size: 12px;
            font-weight: bold;
            color: #333333;
          }
        }
      }
    }
    .fourth_row{
      .fourth_row_column{
        padding-top: 12px !important;
        padding-bottom: 5px !important;
        padding-left: 12px !important;
        padding-right: 0 !important;
        .bg_aeroplane{
          display: inline-block;
        }
        .plus{
          font-size: 18px;
          margin-right: 5px;
          color: #056ba8;
          margin-left: 5px;
          line-height: 1.42857143;
        }
        .bg_hotel{
          display: inline-block;
        }
        .exclusive{
          font-size: 12px;
          color: #056ba8;
          font-weight:bold;
        }
        .cost{
          font-size: 20px;
          color: #056ba8;
        }
        .per_night{
          font-size: 12px;
          color: #a1a1a1;
        }
      }
    }
    .fifth_row{
      .fifth_row_column{
        padding-top: 15px !important;
        padding-left: 5px !important;
        padding-bottom: 25px !important;
        padding-right: 20px !important;
        .rating{
          width: 94px;
          height: 16px;
          padding-bottom: 5px;
        }
        .reviews{
          font-size: 11px;
          color: #888888;
          display: block;
          line-height: 6px;
        }
      }
    }
    .sixth_row{
      .sixth_row_column{
        padding-top: 12px !important;
        padding-bottom: 5px !important;
        padding-left: 25px !important;
        padding-right: 20px !important;
        .seal{
          width: 19px;
        }
        .button_column{
          height: 30px;
          width: 65px !important;
          background: #ff6000;
          background-color: #ff6000;
          
          .button{
            display: block;
            font-size: 12px;
            color: #ffffff;
            text-align: center;
            font-weight: bold;
            
          }
        }
      }
    }
    .seventh_row{
      margin-top: 30px !important;
      .seventh_row_column{
      
        padding-top: 15px !important;
        padding-bottom: 15px !important;
        padding-left: 15px !important;
        padding-right: 30px !important;
        border-top: 1px solid #e2e2e2;
        .see_more{
          font-size: 14px;
          text-align: right;
          color: #056ba8;
          min-height: 1px;
          font-weight: bold;
          text-decoration: none;
          display: block;
        }
      }
    }
  }
}
.add_a_car{
  .first_column{
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    padding-right: 10px !important;
    padding-left: 10px !important;
    border: 1px solid #d4d4d4; border-bottom:1px solid #9f9f9f;
    .top_row{
      .top_left{
        padding-bottom: 15px;
        .car_icon{

        }
      }
      .top_right{
        padding-bottom: 15px;
        .title_column{
          .title{
            color: #056ba8;
          font-size: 20px;
          font-weight: bold;
          display: block;
          }
          .sub_title{
            font-size: 16px;
            color: #333333;
            display: block;
            .sub_title_secondary{
              color: #7ba736;
            }
          }
        }
      }
    }

    .bottom_row{
      .bottom_left{
        .keys{

        }
      }
      .bottom_right{
        .info_column{
          padding-bottom: 7px;
          .info{
            font-size: 14px;
            color: #666666;
            .blue_check{
              display: inline-block;
              padding-right: 5px;
            }
          }
        }
        .button_row{
          width: 280px !important;
          background-color: #ff6000;
          border-bottom: 1px solid #b1320a;
          margin-top: 15px !important;
          .button_column{
            height: 36px;
           
            .button{
              display: block;
              font-size: 16px;
              color: #ffffff;
              text-align: center;
              text-decoration: none;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}
.baggage_protection{
  .first_column{
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    padding-right: 10px !important;
    padding-left: 10px !important;
    border: 1px solid #d4d4d4; border-bottom:1px solid #9f9f9f;
    .left{
      .title_column{
        padding-bottom: 25px;
        .title{
          color: #056ba8;
          font-size: 20px;
          font-weight: bold;
        }
      }
      .icon_row{
        width: 166px !important;
        margin-bottom: 15px !important;
        .icon_column{
          background: #005082;
          background-color: #005082;
          .baggage_protection_icon{
            margin: auto;
          }
        }
      }
      .learn_more_row{
        width: 166px !important;
        background: #f5f6f7;
        background-color: #f5f6f7;
        border: 1px solid #cdcdcd;
        border-bottom: 1px solid #b7b7b7;
        
        .learn_more_column{
          height: 48px;
          
          .learn_more{
            color: #428bca;
            display: block;
            font-size: 14px;
            width: 166px;
           
            text-align: center;
            font-weight: bold;
            border-radius: 0px;
  
            line-height: 28px;
  
          }
        }
      }
    }

    .right{
      .title_row{
        background-color: #e7f3fa;
        background: #e7f3fa;
        width: 100%;
        margin-bottom: 15px;
        
        .columns{
          height: 40px;
          padding-left: 6px !important;
          
          .price_title{
            font-size: 16px;
            color: #666666;
            display: inline-block;
          }
        }
        .columns{
          height: 40px;
          .price{
            font-size: 16px;
            color: #666666;
            display: inline-block;
          }
        }
      }
      .info_column{
        padding-bottom: 10px;
        .info{
          font-size: 14px;
          color: #666666;
          .blue_check{
            display: inline-block;
            padding-right: 5px;
          }
        }
      }
      .button_row{
        width: 347px;
        background-color: #ff6000;
        border-bottom: 1px solid #b1320a;
        margin-top: 15px !important;
        .button_column{
          height: 36px;
         
          .button{
            display: block;
            font-size: 16px;
            color: #ffffff;
            text-align: center;
            text-decoration: none;
            font-weight: bold;
          }
        }
      }
      .paragraph_one_column{
        padding-top: 15px !important;
        .paragraph_one{
          font-size: 12px;
          color: #666666;
          .paragraph_one_email{
            color: #0000ee;
            text-decoration: underline;
          }
        }
      }
      .paragraph_two_column{
        padding-top: 15px !important;
        padding-bottom: 15px !important;
        .paragraph_two{
          font-size: 12px;
          color: #666666;
          .paragraph_two_terms{
            color: #428bca;
          }
        }
      }
    }
  }
}
.billing_details{
  background: #f5f6f7;
  background-color: #f5f6f7;
  .first_column{
    padding-top: 15px !important;
    padding-bottom: 20px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    .title_row{
      .title_column{
        padding-top: 20px !important;
        border-bottom: 1px solid #d1d2d3 !important;
        .title{
          color: #056ba8;
          font-size: 24px;
          font-weight: bold;
          .usd{
            font-size: 14px;
          }
        }
      }
    }
    .method_row{
      .method_column_first{
        padding-top: 15px !important;
        .method{
          font-size: 14px;
          color: #666666;
        }
      }
      .method_column_second{
        padding-top: 15px !important;
        .method_info{
          font-size: 14px;
          color: #666666;
        }
      }
    }
    .phone_row{
      .phone_column_first{
        padding-top: 15px !important;
        .phone{
          font-size: 14px;
          color: #666666;
        }
      }
      .phone_column_second{
        padding-top: 15px !important;
        .phone_info{
          font-size: 14px;
          color: #666666;
        }
      }
    }
    .email_row{
      .email_column_first{
        padding-top: 15px !important;
        padding-bottom: 15px !important;
        border-bottom: 1px solid #d1d2d3 !important;
        .email{
          font-size: 14px;
          color: #666666;
        }
      }
      .email_column_second{
        padding-top: 15px !important;
        padding-bottom: 15px !important;
        border-bottom: 1px solid #d1d2d3 !important;
        .email_info{
          font-size: 14px;
          color: #0000EE;
        }
      }
    }
    .flight_price_details_row{
      .flight_price_details_column{
        padding-top: 15px !important;
        padding-bottom: 15px !important;
        border-bottom:1px dashed #dadadb;
        .flight_price_details{
          color:#056ba8;
          font-size:14px;
          font-weight:bold;
        }
      }
    }
    .ticket_row{
      .ticket_column_first{
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        border-bottom:1px dashed #dadadb;
        .ticket{
          font-size: 12px;
          color: #666666;
        }
      }
      .ticket_column_second{
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        border-bottom:1px dashed #dadadb;
        .ticket_price{
          font-size: 12px;
          color: #666666;
        }
      }
    }
    .subtotal_row{
      .subtotal_column_first{
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        border-bottom:1px dashed #dadadb;
        .subtotal{
          font-size: 12px;
          color: #666666;
        }
      }
      .subtotal_column_second{
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        border-bottom:1px dashed #dadadb;
        .subtotal_price{
          font-size: 12px;
          color: #666666;
        }
      }
    }
    .taxes_row{
      .taxes_column_first{
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        border-bottom:1px dashed #dadadb;
        .taxes{
          font-size: 12px;
          color: #056ba8;
        }
      }
      .taxes_column_second{
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        border-bottom:1px dashed #dadadb;
        .taxes_price{
          font-size: 12px;
          color: #666666;
        }
      }
    }
    .flight_total_row{
      .flight_total_column_first{
        padding-top: 5px !important;
        padding-bottom: 20px !important;
        .flight{
          font-size: 12px;
          color: #666666;
          font-weight: bold;
        }
      }
      .flight_total_column_second{
        padding-top: 5px !important;
        padding-bottom: 20px !important;
        .flight_price{
          font-size: 12px;
          color: #666666;
          font-weight: bold;
        }
      }
    }
    .total_charge_row{
      .total_charge_column_first{
        padding-top: 15px !important;
        padding-bottom: 15px !important;
        border-top:1px solid #d0d1d2;
        border-bottom:3px solid #d0d1d2;
        .total_charge{
          font-size:16px;
          font-weight:bold;
          color:#008dce;
        }
      }
      .total_charge_column_second{
        padding-top: 15px !important;
        padding-bottom: 15px !important;
        border-top:1px solid #d0d1d2;
        border-bottom:3px solid #d0d1d2;
        .total_charge_price{
          font-size:16px;
          font-weight:bold;
          color:#008dce;
        }
      }
    }
  }
}
.please_note{
  background: #f5f6f7;
  background-color: #f5f6f7;
  .first_column{
    padding-top: 15px !important;
    padding-bottom: 20px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    .title_row{
      .title_column{
        .title{
          font-size: 14px;
          font-weight: bold;
          color: #666666;
        }
      }
    }
    .ul_row{
      .ul_column{
        .list{
          .item{
            font-size: 14px;
            color: #666666;
          }
        }
      }
    }
  }
}
.refer_a_friend{
  .first_column{
    padding-top: 15px !important;
    padding-bottom: 20px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    border: 1px solid #056BA8;
    .icon_column{
      padding-left: 10px !important;
      .user_icon{

      }
    }
    .text_primary_row{
      .text_primary_column{
        .text_primary{
          font-size: 16px;
          text-decoration: underline;
          color: #056BA8;
          font-weight: bold;
        }
      }
    }
    .text_secondary_row{
      .text_secondary_column{
        .text_secondary{
          font-size: 14px;
          color: #056BA8;
        }
      }
    }
  }
}
.promotional_images{
  background: #f5f6f7;
  background-color: #f5f6f7;
  .first_column{
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}