<container>
    <row class="footer">
        <columns class="footer_column">
            <row class="top_row">
                <columns class="customer_support_column">
                    <img src="{{ root }}/assets/img/customer-support.png" class="customer_support_icon"/>
                    <span class="text_primary">Customer Support</span>
                </columns>
                <columns class="my_bookings_column">
                    <img src="{{ root }}/assets/img/my-booking.png" class="my_booking_icon"/>
                    <span class="text_primary">My Bookings</span>
                </columns>
                <columns class="faqs">
                    <img src="{{ root }}/assets/img/live-chat.png" class="faq_icon"/>
                    <span class="text_primary">FAQs</span>
                </columns>
            </row>
            <row class="bottom_row">
                <columns class="rewards_column">
                    <row>
                        <columns class="rewards_icon_column">
                            <img src="{{ root }}/assets/img/rewards.png" class="rewards_icon"/>
                        </columns>
                        <columns class="sub_title_column">
                            <span class="sub_title_primary">CheapOair</span>
                            <span class="sub_title_secondary">Rewards</span>
                        </columns>
                    </row>
                </columns>
                <columns class="connect_with_uscolumn">
                    <row>
                        <columns class="text_secondary_column">
                            <span class="text_secondary">Connect With Us</span>
                        </columns>
                    </row>
                    <row>
                        <columns class="icon_column">
                            <img src="{{ root }}/assets/img/facebook.png" class="facebook_icon"/>
                            <img src="{{ root }}/assets/img/google.png" class="google_icon"/>
                            <img src="{{ root }}/assets/img/twitter.png" class="twitter_icon"/>
                        </columns>
                    </row>
                </columns>
                <columns class="get_app">
                    <row>
                        <columns class="text_secondary_column">
                            <span class="text_secondary">Get the CheapOair App</span>
                        </columns>
                    </row>
                    <row>
                        <columns class="icon_column">
                            <img src="{{ root }}/assets/img/app-store.png" class="app_store_icon"/>
                            <img src="{{ root }}/assets/img/play-store.png" class="play_store_icon"/>
                        </columns>
                    </row>
                </columns>
            </row>
        </columns>
    </row>
    <row class="subfooter">
        <columns class="subfooter_column">
            <p class="subtitle">Privacy Policy</p>

            <p class="text">We're committed to protecting your privacy. See our <a href="#" class="link">Privacy Policy</span> for details.</p>

            <p class="subtitle">Contact Us</p>

            <p class="text">if you have any questions please email us at <a href="#" class="link">feedback@cheapoair.com</a> .Or write to us at: CheapOair, 135 W 50th Street, Suite 500, New York, NY 10020</p>

            <p class="text">© 2006-2019 Fareportal, Inc. All right reserved.</p>
        </columns>
    </row>
</container>