<container>
    <row class="footer">
        <columns class="footer_column">
            <row class="top_row">
                <columns class="customer_support_column" valign="center">
                    <img src="{{ root }}/assets/img/customer-support.png" class="customer_support_icon"/>
                    <p class="text_primary">Customer Support</p>
                </columns>
                <columns class="my_booking_column">
                    <img src="{{ root }}/assets/img/my-booking.png" class="my_booking_icon"/>
                    <p class="text_primary" valign="center">My Bookings</p>
                </columns>
                <columns class="faqs">
                    <img src="{{ root }}/assets/img/live-chat.png" class="faq_icon"/>
                    <p class="text_primary" valign="center">FAQs</p>
                </columns>
            </row>
            <row class="bottom_row">
                <columns class="rewards_column">
                    <row>
                        <columns small="4" large="4" class="rewards_icon_column">
                            <img src="{{ root }}/assets/img/rewards.png" class="rewards_icon float-right"/>
                        </columns>
                        <columns small="8" large="8" class="sub_title_column">
                            <span class="sub_title_primary float-left">CheapOair</span>
                            <span class="sub_title_secondary float-left">Rewards</span>
                        </columns>
                    </row>
                </columns>
                <columns class="connect_with_us_column">
                    <row>
                        <columns class="text_secondary_column">
                            <span class="text_secondary">Connect With Us</span>
                        </columns>
                    </row>
                    <row>
                        <columns class="icon_column">
                            <img src="{{ root }}/assets/img/facebook.png" class="facebook_icon"/>
                            <img src="{{ root }}/assets/img/google.png" class="google_icon"/>
                            <img src="{{ root }}/assets/img/twitter.png" class="twitter_icon"/>
                        </columns>
                    </row>
                </columns>
                <columns class="get_app_column">
                    <row>
                        <columns class="text_secondary_column">
                            <span class="text_secondary">Get the CheapOair App</span>
                        </columns>
                    </row>
                    <row>
                        <columns class="icon_column float-center">
                            <img src="{{ root }}/assets/img/app-store.png" class="app_store_icon"/>
                            <img src="{{ root }}/assets/img/play-store.png" class="play_store_icon"/>
                        </columns>
                    </row>
                </columns>
            </row>
        </columns>
    </row>
    <row class="subfooter">
        <columns class="subfooter_column">
            <spacer size="30" class="space"></spacer>
            <p class="subtitle">Privacy Policy</p>

            <p class="text">We're committed to protecting your privacy. See our <a href="#" class="link">Privacy Policy</span> for details.</p>

            <spacer size="15" class="space"></spacer>

            <p class="subtitle">Contact Us</p>

            <p class="text">if you have any questions please email us at <a href="#" class="link">feedback@cheapoair.com</a> .Or write to us at: CheapOair, 135 W 50th Street, Suite 500, New York, NY 10020</p>

            <spacer size="15" class="space"></spacer>

            <p class="text">© 2006-2019 Fareportal, Inc. All right reserved.</p>

            <spacer size="20" class="space"></spacer>
        </columns>
    </row>
</container>